<div class="background d-flex">
    <div class="header-painel p-3 mb-3 d-flex flex-line gap-5">
        <img class="imgPainel" src="{{ reclamacao.objImagem }}" alt="imagem da reclamação">
        <div class="d-flex flex-column">
            <h2>{{ reclamacao.tituloReclamao }}</h2>
            <span>
                {{ reclamacao.dataReclamacao }}
            </span>
        </div>
    </div>
    <div class="info pb-3 my-3 ms-3 me-4">
        <div>
            <h2></h2>
            <p></p>
        </div>
    </div>
</div>
