<div class="background d-flex">
  <div class="container-fluid m-2">
    <div class="row my-4 mx-3 comentario">
      @if (reclamacao$ | async; as reclamacao) {

      <div class="header-comentario py-2">
        <app-comentario-cima [reclamacao]="reclamacao"></app-comentario-cima>
      </div>
      <div class="body-comentario w-100 d-flex flex-column h-auto pt-5 pb-3 gap-5 p-0">
        @for (comentario of messages; track $index) {
          <app-comentario-baixo [comentario]="comentario" [ngStyle]="{
              'justify-content':
                comentario.usuario.nivel && comentario.usuario.nivel > 0 ? 'flex-start' : 'flex-end'
            }" ></app-comentario-baixo>
        }
      </div>

      <div class="novo-comentario pt-5 pb-3 px-0">
        <app-comentario-input [userCurrent]="userCurrent"></app-comentario-input>
      </div>
      }
      @else{
      <div class="erro m-auto my-3">
        <app-not-found mensageError ="Não foi possível achar nenhuma Denúncia" caminhoVoltar="../../"></app-not-found>
      </div>
      }
    </div>
  </div>
</div>