<div class="background">
    <div class="container-fluid d-flex justify-content-center align-items-center flex">
        <form [formGroup]="formFeedback" (ngSubmit)="onSubmit()"
            class="form d-flex justify-content-center align-items-center flex-column m-3 p-4 rounded">
            <h3 class="mb-4">Formulário de Feedback</h3>

            <!-- Campo de texto -->
            <div class="mb-3 w-100">
                <label for="descricao" class="form-label">
                    Conte-nos como está sendo sua experiência com o site:
                </label>
                <textarea formControlName="descricao" id="descricao" class="form-control mt-2"
                    placeholder="Escreva aqui..." rows="5"></textarea>
            </div>

            <!-- Botões -->
            <div class="d-flex justify-content-between mt-3 w-100">
                <button class="btn btn-danger flex-fill me-2" type="button" (click)="onCancel()">
                    CANCELAR
                </button>

                <button class="form-btn flex-fill" type="submit">
                    ENVIAR FEEDBACK
                </button>
            </div>
        </form>
    </div>
</div>